@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    color: #fffbfe;
}

button {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

h2 {
    margin-bottom: 70px;
    font-size: 50px;
    text-decoration: underline;
}

#introText{
    font-size: larger;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #ab0000;
    border-radius: 8px;
    color: #ab0000;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover{
    background-color: #ab0000;
    color: #fffbfe;
}

input {
    width: 100%;
    padding: 8px 14px;
    border: 2px solid #d9d9d9;
    margin-bottom: 20px;
    background-color: rgba(123, 123, 123, 0.4);
    outline: none;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
}

input:focus {
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: rgb(143, 143, 143);
}

form {
    margin-top: 30px;
    margin-bottom: 40px;
    /* background-color: #fff; */
    padding: 20px;
    color: #fffbfe;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.4); */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

form p {
    margin-bottom: 7px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

span{
    text-decoration: underline;
}

#results{
    border: 2px solid #fffbfe;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}